<div class="container-fluid">
    <h1>Eroare: {{message}}</h1>

    <ul>
        {{!-- <li><strong>ErrorType:</strong> {{type}}</li> --}}
        <li><strong>Codul erorii:</strong> {{code}}</li>
        <li><strong>Detalii:</strong> {{toJSON details}}</li>
    </ul>


    <a href="javascript:history.back()">Înapoi</a>
</div>